<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userBo" class="com.tbc.courses.gui.UserBoImpl">
		<property name="name" value="tbc.com" />
	</bean>
	<bean id="coursesView" class="com.tbc.courses.gui.CoursesView">
	</bean>

</beans>